.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}
.date-container input{
    width: 10rem;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.date-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-size: 20px;
}
.error-msg{
    text-align: center;
    color: red;
}

span:first-child{
    display: inline-block;
    font-weight: 600;
    width: 7rem;
    text-align: end;
    margin: 0 1rem;
}