.img-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
}
.main-img{
    width: 500px;
    height: auto;
}
.second-div{
    display: flex;
    align-items: center;
}
.sub-img{
    width: 117.5px;
    height: 100px;
    margin:  5px;
    cursor: pointer;
}
.arrow{
    font-size: 1.8rem;
    cursor: pointer;
}

@media(max-width:600px) {
    .main-img{
        display:block;
        margin: auto;
        width: 350px;
        height: 300px;
    }
    .sub-img{
        width: 80px;
        height: 80px;
        /* margin:  5px; */
        cursor: pointer;
    }
    .arrow{
       display: none;
    }
}