
/*--------------------PROGRESS BAR--------------------*/
.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  
  }
  .circle{
    border-radius: 50%;
    border: 1px solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .completed-circle{
    background-color:rgb(6, 221, 6);
    color: white;
  }
  .current-circle{
    background-color: rgb(10, 113, 161);
    color: white;
  }
  
  .line{
    border: 1px solid;
    width: 10rem;
  }
  
  
  .completed-line{
    border: 1px solid rgb(6, 221, 6);
  }
  
  
  .btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 2rem;
  }